:root {
  --btn-size: 100px;
  --border-radius: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: bottom/cover no-repeat url(img/background.png);
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  width: var(--btn-size);
  height: var(--btn-size);
  border: 5px solid black;
  border-radius: var(--border-radius);
  background-color: rgb(255, 184, 176);
  font-size: 50px;

  transition: 300ms;
}

button:hover {
  transform: scale(1.1);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35%;
}

.time {
  width: 300px;
  height: 80px;
  margin: 0;
  border: 5px solid black;
  border-radius: var(--border-radius);
  background-color: white;
  font-size: 50px;
}

.number {
  width: var(--btn-size);
  height: var(--btn-size);
  margin: 0;
  background-color: rgb(238, 137, 22);
  border: 5px solid black;
  border-radius: 50%;
  color: white;
  font-size: 60px;
}

img {
  width: var(--btn-size);
}

.replay {
  /* visibility: hidden; */

  position: fixed;
  width: 50%;
  height: 25%;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.5);
}

.replay-message {
  color: white;
  font-size: 70px;
  font-weight: 700;
}
